.btn {
    font-size: $h6;
    font-family: "Grotzec-light", sans-serif;
    padding: $padding-xxs $padding-small;
    cursor: pointer;
    height: 100%;
    border: none;
    background-color: var(--black);
    color: var(--color-primary);

    &:hover {
    }
    &:active {
    }
    &:focus {
    }
    &:disabled {
    }
}
