.form {
    height: 100%;
    width: 80%;
    @include flex-center;
    &__group {
        display: flex;
        height: 6rem;

        input {
            height: 100%;
            font-size: $h6;
            font-family: "Grotzec-light", sans-serif;
            padding: 0.5rem 2rem;
            border: none;
            border: 1px solid var(--black);
            background-color: transparent;
        }
    }
}
