.form {
    @include flex-center;
    &__group {
        display: flex;
        height: 3.90625vw;
        input {
            width: 11.40625vw;
            font-size: 1.09375vw;
            font-family: "Grotzec-light", sans-serif;
            padding: 0.9375vw;
            border: none;
            outline: none;
            border: 1px solid var(--black);
            background-color: transparent;
        }
    }
}

::placeholder {
  color: var(--black);
}
