// // COLORS

//FONTS
$h1: 10.4rem; // 48.83px
$h2: 9.6rem; // 39.06px
$h3: 4.8rem; // 31.25px
$h4: 3.2rem; // 25px
$h5: 2.4rem; // 16px
$h6: 1.8rem; // 16px
$p-small: 1.4rem; // 14px
$a: 2.5rem; // 14px

//MARGINS
$margin-xs: 1rem; // 10px
$margin-small: 2rem; // 20px
$margin-medium: 4rem; // 40px
$margin-large: 6rem; // 60px
$margin-huge: 10rem; // 100px

//PADDING
$padding-xs: 1rem; // 10px
$padding-small: 2rem; // 20px
$padding-medium: 4rem; // 40px
$padding-large: 6rem; // 60px
$padding-huge: 10rem; // 100px
