//FONTS
$h1: 10.4rem; // 104px
$h2: 9.6rem; // 96px
$h3: 4.8rem; // 48px
$h4: 3.2rem; // 32px
$h5: 2.4rem; // 24px
$h6: 1.8rem; // 18px
$p-small: 1.4rem; // 14px
$a: 2.5rem; // 2.5px

//MARGINS
$margin-xxs: 0.5rem; // 5px
$margin-xs: 1rem; // 10px
$margin-small: 2rem; // 20px
$margin-medium: 4rem; // 40px
$margin-large: 6rem; // 60px
$margin-huge: 10rem; // 100px

//PADDING
$padding-xxs: 0.5rem; // 5px
$padding-xs: 1rem; // 10px
$padding-small: 2rem; // 20px
$padding-medium: 4rem; // 40px
$padding-large: 6rem; // 60px
$padding-huge: 10rem; // 100px
