.home__main {
    color: var(--black);
    transform: translateX(-7.5%);
    display: grid;
    grid-template-columns: repeat(2, minmax(215px, 215px));
    grid-template-rows: repeat(3, minmax(200px, 200px));
    justify-self: center;
    align-self: center;
    @include respond(desktop) {
        grid-template-columns: repeat(2, minmax(240px, 1fr));
        grid-template-rows: repeat(3, minmax(240px, 1fr));
    }
    @include respond(tab-port1) {
        min-width: 100vw;
        height: 100%;
    }

    @include respond(phone) {
        grid-template-columns: repeat(2, minmax(8rem, 1fr));
    }

    .logo-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-item:hover {
      // text-decoration: underline;
      background-color: var(--color-primary);
      border: 1px solid var(--black);

      .about {
        display: none;
      }

      .aboutText {
        display: block;
      }
    }

    .item {
        @include flex-center;
        position: relative;
        &--color-secondary {
            background-color: var(--color-secondary);
        }
        &--transform-left {
            transform: translateX(-50%);
        }
        &--transform-right {
            transform: translateX(50%);
        }
        &--transform-left,
        &--transform-right {
            @include respond(tab-land) {
                transform: translateX(0);
            }
        }

        .aboutText {
            padding: 0px 12px 12px 12px;
            overflow-y: scroll;
            // position: absolute;
            width: 100%;
            height: 100%;
            display: none;
            @include respond(phone) {
                max-width: 100%;
            }
            // &.open {
            //     display: block;
            //     & + * {
            //         display: none;
            //     }
            // }
        }

        .aboutText::-webkit-scrollbar {
          display: none;
        }

    }

    .logo {
      width: 210px;
      padding-top: 5px;
      // background-color: red;
      // height: 125.96px;
    }
}
